<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jigsawdraw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C26F6FCB20A1271400D23C44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26F6FE220A1271500D23C44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26F6FED20A1271500D23C44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
